.user{
    text-align: right;
    color: #000;
    margin-left: 5%;
}
.chatgp{
    text-align: left;
    color: #000;
    margin-right: 5%;
}
.joy{
    height: 40%;
}
.odamoti{
    padding-bottom: -5px;
    color: aliceblue;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 60px;
    padding-left: 5px;
    background-color: rgb(211, 108, 108);
}
.odamoti_user{
    text-align: right;
    padding-bottom: -5px;
    color: aliceblue;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 40px;
    background-color: rgb(131, 133, 241);
    margin-left: 85%;
    padding-right: 5px;
}